<HTML>
   <HEAD>
      <TITLE> Contacto </TITLE>
      <style type="text/css">
      nav{
        width: 100%;
        height: 50px;
        background-color: #E5E5E5;
        text-align: center;

      }
    article{
      background-color: blue;

    }
    section{
      background-color: green;
      height:auto;
      width: 15%;

    }
    .botones{
    background-color: #A7FFE7;

    }

      </style>

   </HEAD>
   <BODY>
   <nav>
    <h1>Pagina web bomba</h1>
   </nav>

   <div class="botones">
    <a href="">Index</a>
    <a href="">Login</a>
    <a href="">Login</a>
   </div>
   <article>
    <section>
      <p>bomba</p><br>
      <p>bombita</p>

    </section>
   </article>
   <footer>

   </footer>

   </BODY>
</HTML>
